# We don't want local build settings in case someone's using
# the git dir as a place to store their build.ini
confs/*
*.bak

# We don't need these in git. They should be generated dynamically.
.latest.*.tar
/buildnum
screenlog*
/logs
*.swp
*.lck
*~
.~lock.*

# You should really generate local copies of these, as they're pretty private.
**/etc/dropbear
**/etc/openvpn
**/etc/systemd/system/multi-user.target.wants/openvpn@*
**/etc/ssh
**/home
**ssl/
!**ssl/.keepme
!**ssl/openssl.cnf

# and we DEFINITELY don't need these.
__pycache__/
*.pyc
*test*.py
