# We don't want local build settings in case someone's using
# the git dir as a place to store their build.ini
/build.ini

# The default doesn't store these in the git working dir,
# but better safe than sorry.
/root.x86_64
/root.i686
/http
/iso
/temp
/tftpboot

# We don't need these in git. They should be generated dynamically.
.latest.*.tar
/buildnum
/screenlog*
/logs
*.swp
*.lck
*~
/extrasrc

# You should really generate local copies of these, as they're pretty private.
extra/pre-build.d/etc/openvpn/client.conf
overlay/etc/ssh/*
overlay/home/*
overlay/etc/systemd/system/multi-user.target.wants/openvpn@client.service
ssl/
!ssl/.keepme
!ssl/openssl.cnf

# and we DEFINITELY don't need these.
__pycache__/
*.pyc
bdisk/test.py
