export DISTNAME='{{ bdisk['name']|upper }}'
export UXNAME='{{ bdisk['name']|lower }}'
export PNAME='{{ bdisk['name'] }}'
export DISTPUB='{{ bdisk['dev'] }}'
export DISTDESC='{{ bdisk['desc'] }}'
export REGUSR='{{ bdisk['name']|lower }}'
export REGUSR_PASS='{{ user['password'] }}'
export ROOT_PASS='{{ bdisk['root_password'] }}'
