Version:        {{ build['ver'] }}
Build:          {{ build['name'] }}
Time:           {{ build['time'] }}
Machine:        {{ hostname }}
User:           {{ build['user'] }}{% if build['realuser'] is defined and build['realuser'] > 0 %} ({{ build['realuser'] }}){% endif %}
