Version:        {{ build['ver'] }}
Build:          {{ build['name'] }}
Time:           {{ build['time'] }}
Machine:        {{ build['host'] }}
User:           {{ build['user'] }} ({{ build['realuser'] }})
