UI vesamenu.c32
DEFAULT check
PROMPT 0
TIMEOUT 50
MENU HIDDEN
#ONTIMEOUT {{ bdisk['uxname'] }}_ram
ONTIMEOUT check
MENU TABMSG Press [TAB] to edit options
#MENU TITLE {{ bdisk['pname'] }} (ISO edition)
MENU ROWS 16
MENU TIMEOUTROW 22
MENU TABMSGROW 24
MENU CMDLINEROW 24
MENU HELPMSGROW 26
MENU WIDTH 78
MENU MARGIN 6
MENU IMMEDIATE
# http://www.colorpicker.com/
MENU color border   0 	        #00000000 #00000000 none
MENU color title    0    	#FFF5B800 #00000000 std 
MENU color sel      7;37;40    #FF000000 #FFFFFFFF all 
MENU color hotsel   1;7;37;40  #FFFF0000 #FFC0C0C0 all 
MENU color hotkey   1;7;37;40  #FF0000CC #FFC0C0C0 all 
MENU color tabmsg   1;31;40    #FF808080 #00000000 std 
MENU color help     1;31;40    #FFFFFFFF #FF000000 none
MENU color timeout_msg 0       #FFFFB300 #00000000 none
MENU color timeout  0          #FFFF0000 #FF000000 none
MENU color cmdline  0          #FFFFFFFF #FF000000 none
MENU color cmdmark  1;36;40    #C000FFFF #FF000000 std 
MENU color scrollbar 30;44     #FF00FF00 #FF000000 std 
MENU color msg07    0          #FF000000 #00FFFFFF none
MENU BACKGROUND /{{ bdisk['uxname'] }}.png

LABEL check
  MENU LABEL Your best supported kernel should be detected automatically.
  COM32 ifcpu64.c32
  APPEND {{ bdisk['uxname'] }}_64 -- {{ bdisk['uxname'] }}_32
  MENU DEFAULT



LABEL local_override
  MENU LABEL Local ^Boot
  localboot 0
  TEXT HELP
  Boot from the local system instead.
  ENDTEXT 

LABEL reboot
  MENU LABEL ^Reboot
  COM32 reboot.c32
  TEXT HELP
  Reboot the machine
  ENDTEXT

MENU SEPARATOR

## 64 BIT
MENU BEGIN 64BIT
MENU LABEL ^1) 64-Bit ...
ONTIMEOUT {{ bdisk['uxname'] }}_64
  
LABEL {{ bdisk['uxname'] }}_ram_64
  MENU LABEL ^1) {{ bdisk['pname'] }} (run from RAM)
  LINUX /boot/{{ bdisk['uxname'] }}.64.kern
  INITRD /boot/{{ bdisk['uxname'] }}.64.img
  APPEND copytoram archisobasedir={{ bdisk['name'] }} archisolabel={{ bdisk['name'] }}
  TEXT HELP
  64-bit, run from RAM
  ENDTEXT
  MENU DEFAULT

LABEL {{ bdisk['uxname'] }}_64 
  MENU LABEL ^1) {{ bdisk['pname'] }} (Default)
  LINUX /boot/{{ bdisk['uxname'] }}.64.kern
  INITRD /boot/{{ bdisk['uxname'] }}.64.img
  APPEND archisobasedir={{ bdisk['name'] }} archisolabel={{ bdisk['name'] }}
  TEXT HELP
  Same as the above, except run directly from the CD-
  don't copy the image to RAM. (Best for lower-memory boxes)
  ENDTEXT

MENU END

MENU BEGIN 32BIT
MENU LABEL ^2) 32-Bit ...
ONTIMEOUT {{ bdisk['uxname'] }}_32

## 32 BIT
LABEL {{ bdisk['uxname'] }}_ram_32
  MENU LABEL ^1) {{ bdisk['pname'] }} (run from RAM)
  LINUX /boot/{{ bdisk['uxname'] }}.32.kern
  INITRD /boot/{{ bdisk['uxname'] }}.32.img
  APPEND copytoram archisobasedir={{ bdisk['name'] }} archisolabel={{ bdisk['name'] }}
  TEXT HELP
  32-bit, run from RAM
  ENDTEXT
  MENU DEFAULT

LABEL {{ bdisk['uxname'] }}_32 
  MENU LABEL ^2) {{ bdisk['pname'] }} (Default)
  LINUX /boot/{{ bdisk['uxname'] }}.32.kern
  INITRD /boot/{{ bdisk['uxname'] }}.32.img
  APPEND archisobasedir={{ bdisk['name'] }} archisolabel={{ bdisk['name'] }}
  TEXT HELP
  Same as the above, except run directly from the CD-
  don't copy the image to RAM. (Best for lower-memory boxes)
  ENDTEXT

MENU END
